
<h2 style="text-align: center; font-family:monospace;font-size:35px;">Bisiklet Mağazası</h2>

<head>
    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 20px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: brown;
            border-radius: 10px;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: sandybrown;
            }

        .geeks {
            position: center;
            width: 60%;
            height: 200px;
        }

        img {
            width: 1150px;
            height: 400px;
            object-fit: fill;
            border-radius: 9px;
            padding: 5px;
            border: 5px solid #ddd;
            border-color: indigo
        }


            img:hover {
                box-shadow: 0 0 5px 5px rgba(0, 140, 186, 0.5);
            }

        body {
            background-size: 1800px;
            background-image: url('../../images/hand-painted-watercolor-background-with-sky-clouds-shape.jpg');
            background-repeat: repeat;
            background-attachment: scroll;
            background-color: white;
        }
    </style>
</head>
<body>
    <br />

    <div class="geeks">

        <img src="~/images/bike.jpg" alt="Geeks Image" height="300" width="300" />



    </div>






</body>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<p style="font-size:27px;color:darkred">Bisikletin Tarihçesi</p>

<p style="font-size:20px">Dünya üzerinde bilinen ilk iki tekerlekli araç, Baron Karl de Drais de Sauerbrun tarafından tahta malzemeden geliştirilen ve 6 Nisan 1818’de Paris’te sergilenen “drezin”dir. Bu alet hareket edebilmek için binicinin yerden destek alması gerekiyordu. İskoç Kirk Patrick McMillan’ın 1839 yılında pedalı bulmasıyla bisiklet bugünkü görünümü andırmaya başladı.</p>


<p style="font-size:27px;color:brown">Bisiklet Mağazası Yönetim Platformu Nedir?</p>


<p style="font-size:20px">Müşterileri, Ürünleri, Kategorileri, Markaları ve Siparişleri görüntüleme ve yönetebilme imkanı tanıyan bir yönetim platformudur. </p>

