@{
    ViewBag.Title = "Mağaza Geliştirici Bilgileri";
}




<h2 style="text-decoration:underline;text-align:center">@ViewBag.Title</h2>
<style>
    body{
        background-color:papayawhip;
    }
    img {
        float: right;
        width: 300px;
        height: 300px;
        border: 10px solid #ddd;
        border-radius: 6px;
        padding: 5px;
        border-color:limegreen;
        
    }
</style>
<img src="~/images/vesikalık.jpg" />
<address style="color:blueviolet;font-size:18px">
    <br />
    AD-SOYAD: BEHİÇ OYTUN ŞENKUL<br /><br />
    NUMARA: 181213103<br /><br />
    OKUL: Konya Teknik Üniversitesi
</address>
<br/>
<address>
    <strong style="font-size:25px;color:saddlebrown">İletişim:</strong>   <a style="font-size:20px;color:darkblue" href="mailto:f181213103@ktun.edu.tr">f181213103@ktun.edu.tr</a><br />
    <strong style="font-size:25px;color:saddlebrown">LinkedIn:</strong>   <a style="font-size:20px;color:darkblue" href="https://www.linkedin.com/in/behi%C3%A7-oytun-%C5%9Fenkul-aa7a31202/">www.linkedin.com/in/behicoytunsenkul</a><br />


</address>

<br/>
<br/>